@media screen and (max-width: 1150px) {
  header img {
    width: 500px;
    height: 500px;
  }
  .home2 {
    font-size: 60px;
  }
  .home3 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
